@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.container .image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.input-group {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    align-items: center;
    justify-content: center;
    display: flex;
}

.input {
    min-height: 50px;
    min-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #b02150;
    border-radius: 6px 0 0 6px;
    background: transparent;
    backdrop-filter: blur(12px);
    transition: .3s all ease;
}

.input:focus, .input:focus-visible {
    backdrop-filter: blur(12px);
    transition: .3s all ease;
    box-shadow: 0 0 1px #b02150,
    0 0 5px #b02150, 0 0 25px #b02150,
    0 0 300px #b02150, 0 0 200px #b02150;
    outline: none;
}

.input::placeholder {
    transition: .3s all ease;
}

.input:focus-visible::placeholder {
    top: 5%;
    transition: .3s all ease;
    color: rgba(255, 248, 230, 0.5);
}

.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #b02150;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: .3s all ease;
	color: rgba(255, 248, 230, 0.5);
    box-shadow: 0 0 5px #b02150,
    0 0 25px #b02150;
}

.button--submit:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #b02150,
    0 0 25px #b02150, 0 0 50px #b02150,
    0 0 300px #b02150, 0 0 200px #b02150;
}

span {
    color : rgb(70, 180, 90);
    margin-top: 10px;
    display: block;
}

.top-btn {
    margin-right: 10px;
}

.exit {
	text-decoration: none;
	background: #b02150;
	color: #c0c0c0;
	padding: 5px 5px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	justify-content: center;
	cursor: pointer;
    transition: .3s all ease;
    box-shadow: 0 0 5px #b02150,
    0 0 25px #b02150;
}

.exit:hover {
	transition: .3s all ease;
	color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #b02150,
    0 0 25px #b02150, 0 0 50px #b02150,
    0 0 300px #b02150, 0 0 200px #b02150;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #b02150;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
   }
  
   .cursor2 {
    transition: .500ms;
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #b02150cc;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
   }
  