@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(5, 10, 26);
}

::-webkit-scrollbar {
    width: 8px;
    border: 1px solid rgba(113, 130, 161, 0.3);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(86, 86, 119, 0.3);
    border-radius: 1rem;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid #566590;
    border-radius: 50%;
    z-index: 100000;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
  
.cursor2 {
    transition: .50ms;
    position: fixed;
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid #566590cc;
    border-radius: 50%;
    z-index: 100000;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

section {
    width: 100%;
    height: 100vh;
}

li, a, p, span, h1, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
}

#logo {
    padding: 7px 200px;
    border-right: 1px solid rgba(113, 130, 161, 0.3);
}

.logo {
    cursor: pointer;
}

.logo img{
    color: #ffffff;
    width: 18%;
    
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 10px 200px;
    border-right: 1px solid rgba(113, 130, 161, 0.3);

}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav_links li a {
    font-size: 15px;
    color: rgba(86, 86, 119, 0.8);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;

}

.nav_links li a:hover {
    color: rgb(86, 86, 119);
}

button {
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgba(86, 86, 119, 0.8);
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    padding: 10px 20px;
    border: none;
}

button:hover {
    color: rgb(86, 86, 119);
}

#c-btn {
    padding: 10px 200px;
    border-left: 1px solid rgba(113, 130, 161, 0.3);
}

footer {
    padding: 50px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(113, 130, 161, 0.3);
}

#copyright {
    color: rgba(86, 86, 119, 0.8);
    background: transparent;
    position: absolute;
    top: 104%;
    left: 15%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 5px;
}

#copyright:hover {
    color: rgb(86, 86, 119);
}

#privacy {
    background: transparent;
    color: rgba(86, 86, 119, 0.8);
    position: absolute;
    top: 104%;
    left: 80%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 5px;
}

#privacy:hover {
    color: rgb(86, 86, 119);
}
