 /* Google Fonts - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
 @import url('https://fonts.cdnfonts.com/css/minecraft-4');
 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
  font-family: "JetBrains Mono", monospace;
 }

 section {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   background: #161616;
 }
 
 h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.container .card {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  box-shadow: 0px 0px 5px #fff;
  border-radius: 20px;
  font-size: 5em;
  font-weight: 700;
  cursor: pointer;
  color: var(--clr);
  transition: 0.25s;
}







































 /*.bowl {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  border: 8px solid transparent;
  transform-origin: bottom center;
  animation: animate 5s linear infinite;
 }

 @keyframes animate {
  0% {
    transform: rotate(0deg);
  }25% {
    transform: rotate(15deg);
  }50% {
    transform: rotate(0deg);
  }75% {
    transform: rotate(-15deg);
  }100% {
    transform: rotate(0deg);
  }
 }

 .bowl::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height:30px;
  border: 15px solid #444;
  border-radius: 50%;
  box-shadow: 0 10px #222;
 }

 .bowl::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 150px;
  height: 80px;
  background: rgba(255,255,255,0.05);
 }

 .liquid {
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #554a91;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  filter: drop-shadow(0 0 80px #4621ff);
  transform-origin: top center;
  animation: animateLiquid 5s linear infinite;
  z-index: 500;
 }

 @keyframes animateLiquid {
  0% {
    transform: rotate(0deg);
  }25% {
    transform: rotate(-20deg);
  }50% {
    transform: rotate(0deg);
  }75% {
    transform: rotate(20deg);
  }100% {
    transform: rotate(0deg);
  }
 }
 
 .liquid::before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: #473d80;
  border-radius: 50%;
  filter: drop-shadow(0 0 80px #4621ff);
  z-index: 500;

 }

 .shadow {
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 30px;
  background: rgba(0,0,0,0.05);
  border-radius: 50%;
  z-index: 500;
*/
 
 
 
 
 /*
 img {
   position: absolute;
   filter: brightness(0.9);
   height: 100%;
   width: 100%;
   object-fit: cover;
   z-index: -1;
 }

 .container header {
   font-size: 60px;
   color: #fff;
   font-weight: 600;
   font-family: 'Unbounded', cursive;
   text-align: center;
 }

 .container header span {
   font-size: 60px;
   color: #fff1bb;
   font-weight: 600;
   font-family: 'Unbounded', cursive;
   text-align: center;
 }

 .container p {
   font-size: 14px;
   font-weight: 400;
   font-family: 'Unbounded', cursive;
   color: #fff;
   max-width: 550px;
   text-align: center;
 }

 .container .progress {
   height: 40px;
   width: 500px;
   margin-top: 20px;
   border-radius: 20px;
   background: transparent;
   border: 1px solid #2b3349cc;
 }

 .progress .progress-done {
   height: 100%;
   width: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   font-size: 15px;
   opacity: 0;
   color: #fff;
   box-shadow: 0 1px 2px -5px #b02150, 0 2px 5px #566590;
   background: linear-gradient(to left, #b02150, #566590);
   transition: 1s ease;
 }

 .progress-done span {
  font-size: 15px;
  margin-right: 5px;
  color: #d7d6d6cc;
 }

 .email-content {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 20px;
   width: 100%;
 }
 .email-content p {
   font-size: 13px;
 }

 .input-box button {
   margin-top: 20px;
   height: 100%;
   outline: none;
   border: none;
   overflow: hidden;
   padding: 1px 35px;
   border: 1px solid #fff1bb;
   background: #fff1bb;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   text-decoration: none;
   transition: .3s all ease;
   text-transform: uppercase;
   box-shadow: 0 0 5px #fff1bb,
   0 0 25px #fff1bb;
   font-family: "Open Sans", sans-serif;
 }

 .input-box button:hover {
    box-shadow: 0 0 5px #fff1bb,
    0 0 25px #fff1bb, 0 0 50px #fff1bb,
    0 0 300px #fff1bb, 0 0 200px #fff1bb;
 }

 .input-box button a {
   text-decoration: none;
   color: black;
   text-align: center;
 }*/


 /*@media screen and (max-width: 300px) {
   .container header {
     font-size: 50px;
   }
 }*/

